@import '../bower_components/modularized-normalize-scss/normalize',
        '../bower_components/scss-components/src/components',
        'mobile-nav', 'spinn', 'video';

$blue: #28447D;
$dblue: darken($blue, 15%);
$lblue: #13bbfa;
$orange: #ffa30c;
$yellow: #FFE800;


@font-face {
    font-family: 'icons';
    src: url('../font/feratelapp.eot'); /* IE9 Compat Modes */
    src: url('../font/feratelapp.woff') format('woff'), /* Modern Browsers */
         url('../font/feratelapp.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/feratelapp.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin iconfont() {
  font-family: 'icons';
}
@mixin translate3d($a, $b, $c) {
  -webkit-transform: translate3d($a,$b,$c);
  -moz-transform: translate3d($a,$b,$c);
  -ms-transform: translate3d($a,$b,$c);
  -o-transform: translate3d($a,$b,$c);
  transform: translate3d($a,$b,$c);
}
@mixin outerring($ringmargin: -3px, $color: $blue) {
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: $ringmargin;
        top: $ringmargin;
        right: $ringmargin;
        bottom: $ringmargin;
        border: 1px solid $color;
        border-radius: 50%;
    }
}
@mixin bgLoading() {
    position: relative;
    i.ani {
        position: absolute;
        display: block;
        font-style: normal;
        z-index: 1;
        height: 50px;
        line-height: 50px;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
        width: 50px;
        text-align: center;
        -moz-animation: spin 2s infinite linear;
        -o-animation: spin 2s infinite linear;
        -webkit-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
        &:after {
            @include iconfont();
            font-size: 30px;
            color: #fff;
            content: "\e800";
            display: block;
        }
    }
}

* {
    -webkit-backface-visibility: hidden;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
html, body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }
input {
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    -ms-user-select: text !important;
    border-radius: 0;
}

html {
    height: 100%;
    width: 100%;
    background: #fff;
    font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
}
body {
    background: #eee;
    margin: 0;
    background: #555 url('../img/w_bg.jpg') no-repeat bottom center;
    background-size: cover;
    height: 100%;
    width: 100%;

    opacity: 0;
    display: none;

    @include transition(opacity, 400ms, ease-out);

    &.opacityf {
        opacity: 1;
        display: block;
    }
}

i {
    font-style: normal;
}

a {
    color: $blue;
}

.mb-page {
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch;

    &.noScroll {
        overflow: hidden;
    }
}

.clearfix {
    clear: both;
    float: none;
}

hr {
    border: 0;
    border-bottom: 1px solid $blue;
}

.homepage .intHome {
    margin: 0 0;
    background: rgba(255,255,255,.5);
    padding: 10px 0 5px;
}

.video-js {
    width: 100%;
    min-height:163px;
    position: relative;
    z-index: 5;
    // height: 100%;
}
.video_options {
    position: absolute;
    z-index: 20;
    right: 0;
    top: 0;

    .vo-row {
        margin: 7px;
    }
    .vo-button {
        background: rgba(0,0,0,.6);
        color: #fff;
        font-weight: bold;
        padding: 7px 10px;
        margin: 0 4px 0 0;
        border-radius: 5px;
        float: left;
        opacity: 0.65;

        &.glow {
            box-shadow: 0 0 7px rgba(255,255,255,.7);
            opacity: 1;
        }
    }
}
.iosAPP {
    .video_options, .video_loading {
        display: none !important;
    }
    .player {
    }
}
.video_loading {
    position: absolute;
    z-index: 25;
    left: 50%;
    display: none;
    top: 34%;
    margin: -50px 0 0 -40px;
    // background: #000;
    padding-top: 60px;
    color: #fff;

    .loadingCircle {
        color: #fff;
    }

    .ani:before {
        display: none;
    }
}

.no_video {
    height: 100%;
    position: relative;
    // background: black;
    img {
        position: relative;
        top: 0;
        bottom: 0;
        margin: auto 0;
        z-index: 10;
        display: block;
    }
    .ani {
        z-index: 5;
    }
}

.play_button {
    position: absolute;
    top: 50px;
    width: 100px;
    height: 50px;
    background:black;
    content: "PLAY";
    color: #fff;
}

.slsH {
    overflow: hidden;
    height: 100%;
    margin: 15px -15px 0;
    padding: 0;

    .innerSlide {
        padding: 10px;
        background: rgba(255,255,255,.5);

        h3 {
            font-size: 24px;
            color: $blue;
            font-weight: normal;
            margin: 5px 0 5px;
            text-align: center;
        }

        &.active {
            // background: $blue;

            // h3 {
            //     color: #fff;
            // }
        }
    }

    .homeSlider {
        overflow: hidden;

        .slide {
            height: 100%;
            float:left;
            width: 100%;
            // margin: 0 1%;
            position: relative;
            padding: 0 15px 2px;
            overflow: hidden;

            &.active {
                // background: $blue;
            }
        }
        .errorMessage {
            background: #eee;
            padding: 60px 15px 20px;
            height: 170px;
            color: $blue;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 10px;
            right: 10px;
            margin-top: -83px;
            text-align: center;
            font-size: 18px;
            z-index: 20;

        }
    }
}

.innerSlideShow {
    overflow: hidden;
    position: relative;

    .innerSls {
        position: relative;
        overflow: hidden;
    }
    .innerSlide {
        height: auto;
        float:left;
        width: 100%;
        position: relative;
        padding: 2px 15px 10px;
        overflow: hidden;
    }
}

.backtoCam, .backbutton {
    color: $blue;
    margin: 3px 0 15px;
    text-decoration: none;
    line-height: 37px;
    display: block;
    background: rgba(255,255,255,.5);
    padding: 2px 20px 0 40px;
    position: relative;

    i {
        font-size: 28px;
        margin: 0 15px 0 0;
        position: absolute;
        top: 0;
        left: 15px;

        &:before {
            @include iconfont();
            content: "\e804";
        }
    }

    &.active {
        background: $blue;
        color: #fff;
    }
}
.backB {
    .backtoCam {
        margin: 3px 0 3px;
    }
}

.slideShow {
    overflow: hidden;
    position: relative;
    margin: 0 -15px;
    // min-height: 700px;

    .sls {
        position: relative;
        overflow: hidden;
    }
    .slide {
        height: 100%;
        min-height: 550px;
        float:left;
        width: 100%;
        position: relative;
        padding: 2px 15px 10px;
        overflow: hidden;
    }
    img {
        width: 100%;
    }
    .oneLift {
        background: rgba(255,255,255,.5);
        margin: 0 -15px 2px;
        padding: 3px 15px 5px;
        color: #333;
    }
    .row {
        overflow: hidden;
        line-height: 20px;
        padding: 3px 0;

        &.trow {
            border-bottom: 1px solid rgba(255,255,255,.5);
        }
        img {
            width: auto;
            float: right;
            // height: 20px;
        }
    }
    .oneTVrow {
        margin: 0 -15px 2px;
        padding: 0 15px 0;
        height: 35px;
        color: $dblue;
        background: rgba(255,255,255,.5);
        line-height: 35px;
        span {
            float: right;
            color: $blue;
            font-size: 12px;
        }
    }
    .listRow {
        margin: 0 -15px 2px;
        padding: 8px 15px 6px;
        color: $blue;
        background: rgba(255,255,255,.5);
        span {
            color: $dblue;
        }
    }
    // .smallImage {
    //     width: 40%;
    //     float: left;
    // }
    iframe {
        width: 350px;
        position: relative;
        z-index: 5;
        height: 220px;
        transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

    .ovl, .ovr {
        position: absolute;
        z-index: 5;
        width: 30%;
        // height: 100%;
        bottom: 23px;
        top: 0;
        // background: gold;
        display: block;
        &.aa {
            // background: red;
        }
    }
    .ovr {
        right: 0;
    }
    .ovl {
        left: 0;
    }

    .player {
        // height: 220px;
        margin: 0 0 15px;
        background: $blue;
        @include bgLoading();
        
        position: relative;
        min-height: 160px;

        .ng-binding {
            height: 100%;
        }

        #example_video_1 {
            width: 100% !important;
            height: 100% !important;
        }

        &:before {
            z-index: 3;
        }

        .pvImage {
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
            overflow: hidden;

            img {
                height: 100%;

            }
        }

        iframe {
            position: relative;
            z-index: 3;
            display: none;
            &.iframeLoaded {
                display: block;
            }
        }
    }

    .info {
        // text-align: center;
        position: relative;
        font-size: 12px;
        text-transform: uppercase;
        color: $blue;
        font-weight: bold;
        margin: 0 50px 10px 0;

        .count {
            position: absolute;
            right: -50px;
            text-align: right;
            top: 0;
            font-size: 13px;
            line-height: 12px;
            width: 50px;
        }
    }

    .extraInfo {
        margin: 0 0 0 0;
        overflow: hidden;
        min-height: 100px;
        position: relative;
        z-index: 100;

        &.loading {
            @include bgLoading();
            &:before {
                color: $blue;
            }
        }
    }
    .datablock {
        width: 20%;
        float: left;
        text-align: center;
        padding: 10px 0;
        height: 60px;
        overflow: hidden;
        z-index: 1000;
        position: relative;

        .text {
            font-size: 11px;
            color: $blue;
            text-align: center;
            margin: 3px 1px 0;

            &.text_cs_button_3 {
                color: $orange;
            }
        }
        &.active {
            .roundB {
                background: $dblue;
            }
        }

    }
    .thisis_weitere_kameras, .thisis_buttonid_11, .thisis_streaming, .thisis_buttonid_3, .thisis_buttonid_6, .thisis_buttonid_1, .thisis_buttonid_8, .thisis_buttonid_12 {
        display: none !important;
    }

    .roundB {
        position: relative;
        @include outerring(-2px);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: $blue;
        margin: 0;
        display: block;
        margin: 0 auto;

        i {
            display: block;
            width: 100%;
            height: 100%;
            font-style: normal;
            text-align: center;
            font-size: 26px;
            line-height: 45px;
            position: relative;
            left: 0;
            top: 0;
            color: #fff;
        }
        i:before {
            @include iconfont();
        }
        &.cs_button_3 {
            background: $orange;
            
            &:after {
                border-color: $orange;
            }

            i {
                font-size: 22px;
                left: 0;
                &:before {
                    content: "\e811";
                }
            }
        }
        &.buttonid_5 i {
            font-size: 24px;
            left: 0;
            &:before {
                content: "\e810";
            }
        }
        &.buttonid_4 i:before {
            content: "\e80f";
        }
        &.buttonid_9 i {
            font-size: 15px;
            left: 0;
            &:before {
                content: "\e80a";
            }
        }
        &.buttonid_2 i {
            left: 1px;
            top: 0;
            font-size: 22px;

            &:before {
                content: "\e80c";
            }
        }
        &.cs_button_1 i {
            top: 1px;
            &:before {
                content: '\e809';
            }
        }
        &.cs_button_2 i {
            // top: 1px;
            left: 1px;
            font-size: 21px;
            &:before {
                content: '\e80d';
            }
        }

        &.cs_button_88 i {
            // top: 1px;
            left: 1px;
            font-size: 21px;
            &:before {
                content: '\e80d';
            }
        }


    }
    .sndView {
        display: none;
    }
    .weather_view {
        .camWeather {
            margin-bottom: 20px;
            .copr {
                font-size: 14px;
                margin: 4px 0 0 3px;
                text-align: right;
            }
            .box {
                position: relative;
                color: $blue;
                padding: 10px 15px;
                margin: 0 -15px 1px;
                background: rgba(255,255,255,.5);

                .dayT {
                    font-size: 22px;
                    font-weight: 300;
                    display: block;
                    color: $dblue;
                }
                .dayW {
                    font-size: 14px;
                    display: block;
                }
                .dayC {
                    position: absolute;
                    font-size: 26px;
                    right: 15px;
                    top: 10px;
                    font-weight: 300;
                }
            }
        }
        .todaydetail {
            text-align: right;
            font-size: 14px;
            position: relative;
            margin: 5px 0 0;
            padding: 35px 0 0;
            opacity: 0.8;
            border-top: 1px solid rgba(255,255,255,.3);

            .detailT {
                position: absolute;
                left: 0;
                top: 5px;
                color: $dblue;
            }
            .line {
                margin: 0 0 2px;
            }
            .isis {
                display: inline-block;
                width: 92px;
                border-bottom: 1px solid rgba(255,255,255,.3);
            }
            .whatis {
                border-bottom: 1px solid rgba(255,255,255,.3);
            }
        }
        .weatherData {
            margin: 20px 0 0;
            color: $blue;
            .box {
                margin: 2px 0 5px;
                padding: 0 0 1px;
                border-bottom: 1px solid rgba(255,255,255,.6);
                line-height: 16px;
                display: block;
                width: 100%;
                overflow: hidden;
            }
            .whatis {
                display: block;
                width: 50%;
                font-size: 14px;
                overflow: visible;
                float: left;
            }
            .isis {
                width: 50%;
                text-align: right;
                color: $dblue;
                font-size: 16px;
                display: block;
                overflow: visible;
                float: left;
            }
        }
    }
    
    h3 {
        color: #28447d;
        font-size: 22px;
        margin: 10px 0 10px;
        font-weight: normal;
    }
    .vv.historie {
        margin: 0 -5px;
        h3 {
            margin-left: 7px;
        }
    }
    .halfBlock {
        width: 50%;
        float: left;
        padding: 5px;

        .timeTitle {
            background: $blue;
            color: #fff;
            padding: 5px 6px;
            display: block;
            font-size: 14px;
        }
    }
    .loadExtraInfo {
        margin-bottom: 15px;

        .lifte_pisten {
            // height: 100%;
        }
    }

    .titles {
        position: relative;
        margin: 5px -1px 20px;

        span {
            display: block;
            width: 33.3333%;
            text-align: center;
            float: left;
            color: $blue;
            position: relative;

            &.active {
                i {
                    background: $blue;
                    color: #fff;
                }
                &:before {
                    content:"";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-top-color: $blue;
                    left: 50%;
                    margin-left: -10px;
                    bottom: -20px;
                    z-index: 10;
                }
            }

            i {
                font-style: normal;
                display: block;
                background: rgba(255,255,255,.5);
                padding: 10px 0;
                margin: 0 1px;
            }
        }
    }
    .slideContainer {
        margin: 0 -15px;
        // height: 85%;
        overflow: hidden;
    }
    .slidePadder {
        overflow: hidden;
        height: 100%;

        .slideTab {
            height: 100%;
            float:left;
            width: 100%;
            // margin: 0 1%;
            position: relative;
            padding: 0 15px 2px;
            overflow: scroll;
        }
    }
}

.inicBox {
    text-align: center;
    margin: 5px 0 0;
    color: transparent;
    &.init i:first-child {
        background: $blue;
    }
    i {
        width: 14px;
        height: 14px;
        border: 2px solid $blue;
        display: inline-block;
        margin: 0 3px;
        border-radius: 50%;
        background: transparent;

        &.a {
            background: $blue;
        }
    }
}
.swipe {
  overflow: hidden;
  visibility: hidden;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.markerT {
    font-style: normal;
    &:before {
        @include iconfont();
        content: "\e809";
    }
}

.playVideo {
    padding: 0 0;
    color: #fff;
    height: 100%;
    min-height: 150px;
    background: $blue;
    position: relative;

    img {
        position: relative;
        z-index: 5;
        width: 100%;
        top: 0;
        bottom: 0;
        margin: auto 0;
        display: block;
    }
    .playButton {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        z-index: 20;
        opacity: 0;
        transition: opacity 1s;
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 0;
            height: 0;
            border: 21px solid transparent;
            border-left: 36px solid #FFF;
            margin: -20px 0 0 -14px;
            z-index: 10;
        }
        &:before {
            content: "";
            background: rgba(223, 223, 223, 0.4);
            box-shadow: 0 0 10px rgba(0,0,0,.3);
            border-radius: 50%;
            width: 82px;
            height: 82px;
            position: absolute;
            margin: -45px 0 0 -45px;
            z-index: 5;
            left: 50%;
            top: 50%;
            z-index: 5;
            border: 4px solid rgba(255,255,255,.85);
        }
    }
    &.ld .playButton {
        opacity: 1;
    }
    &.noplay .playButton {
        display: none !important;
        width: 0;
        height: 0;
        left: -1000%;
    }
}

.whiteCover {
    z-index: 5;
    background: rgba(255,255,255,.65);
    position: absolute;
    left: 0; bottom: 0; right: 0; top: 0;
    @include transition(background, 0.2s, ease-in-out);

    &.off {
        background: none;
    }
    &.double {
        background: rgba(255,255,255,.85);
    }
}

.container {
    padding: 0;
    border: 0;
    margin: 0;
    position: absolute;
    z-index: 10;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    height: 66px;
    color: #fff;
    z-index: 15;

    .menuLinkBox {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 50;
        width: 170px;
        height: 100%;
    }

    .openMenu {
        color: $blue;
        z-index: 10;
        position: absolute;
        left: 40px;
        top: 20px;
        text-decoration: none;
        color: $blue;
        font-weight: bold;
        display: block;
        height: 33px;
        line-height: 33px;
        padding-left: 0px;
        cursor: pointer;
        font-size: 14px;

         &:before {
            @include iconfont();
            content: "\e808";
            font-size: 24px;
            position: absolute;
            line-height: 30px;
            top: 1px;
            left: -27px;
        }
    }

    .corner {
        pointer-events: none;
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
    }

    .logo {
        position: absolute;
        right: 20px;
        top: 23px;
        z-index: 15;
        max-height: 33px;
    }
}
.main {
    top: 50px;
    bottom: 70px;
    left: 0;
    right: 0;
    z-index: 5;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    margin: 0; padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    height: 70px;
    border-top: 1px solid $dblue;
    overflow: hidden;
    background: $blue;
    color: #fff;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: block;
        width: 100%;
        height: 100%;

        li {
            display: inline-block;
            width: 25%;
            height: 100%;
            line-height: 122px;
            text-align: center;
            text-transform: uppercase;
            font-size: 10px;
            position: relative;

            &.active, &.menuAct {
                color: #fff;
                background: $dblue;
                &:before {
                    color: #fff;
                }
            }
            &:before {
                @include iconfont();
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                color: #fff;
                z-index: 100;
                font-size: 32px;
                text-align: center;
                line-height: 55px;
            }
            &.home:before {content: '\e812'; }
            &.webcams:before {content: '\e813'; }
            &.my_cams:before {content: '\e801'; }
            &.options:before {content: '\e80b'; }
        }
    }
}

.Page {

    padding: 15px 15px 10px;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
.cit {
    text-align: center;
}
.Page {
    p {
        color: #fff;
        // font-weight: bold;
        text-shadow: 0 0 3px rgba(0,0,0,.5);
        line-height: 110%;
        padding: 0 13px;
        margin: 13px 0;
    }
    h2 {
        color: #fff;
        font-weight: normal;
        text-transform: uppercase;
        margin: 19px 0 0px;
    }
}

.filterList {
    margin: 10px 0;
    border: 0;
    width: 100%;
    padding: 10px 15px;
    outline: 0;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

form {
    margin: 0 10px;
}

.camNearMe {
    background: #fff;
    padding: 7px 13px;
    color: $blue;
    display: inline-block;
    &.active {
        background: $blue;
        color: #fff;
    }
}


.tosearch {
    @include outerring(-4px, $blue);
    width: 90px;
    height: 90px;
    background: $blue;
    display: inline-block;
    margin: 20px 0 0;
    border-radius: 50%;
    position: relative;
    text-decoration: none;

    .sic {
        text-align: center;
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0;
        line-height: 90px;
        color: #fff;
        font-size: 46px;
        font-style: normal;
        pointer-events: none;

        &:before {
            @include iconfont();
            content: '\e813';
        }
    }

    &.active {
        background: $dblue;
    }
}


.tomap {
    @include outerring(-4px, $blue);
    background: $blue;
    display: inline-block;
    margin: 5px 0 0;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    &:before {
        @include iconfont();
        line-height: 65px;
        color: #fff;
        font-size: 41px;
        content: '\e809';
        text-align: center;
    }
    span {
        position: absolute;
        bottom: -28px;
        height: 20px;
        left: -50%;
        font-size: 12px;
        right: 0;
        color: $blue;
        width: 200%;
    }

    &.active {
        background: $dblue;
        color: $dblue !important;
    }
}

.mtoMap {
    background: $blue;
    width: 40px;
    height: 100%;
    position: absolute;
    text-align: center;
    right: -40px;
    top: 0;

    &:before {
        @include iconfont();
        line-height: 40px;
        color: #fff;
        font-size: 24px;
        content: '\e809';
        text-align: center;
    }
    &.active {
        background: $dblue;
        color: $lblue;
    }
}

.searchBox {
    position: relative;
    margin: 15px 0 0 0;

    input {
        border: 0;
        background: #fff;
        padding: 4px 10px;
        color: $blue;
        width: 100%;
        height: 40px;
        line-height: 40px;
        outline: 0;
    }

    .sic {
        position: absolute;
        right: 0;
        font-style: normal;
        z-index: 20;
        color: $blue;
        height: 40px;
        line-height: 40px;
        padding: 0 8px 0 0;
        font-size: 22px;

        &:before {
            @include iconfont();
            content: "\e813";
        }
    }
}

.homeFavs {
    text-align: left;
    position: absolute;
    top: 20px;
    left: 15px;
    right: 15px;
    bottom: 103px;

    &.alone {
        bottom: 30px;
    }

    .homeSlider {
        height: 100%;
    }
}
.homeShareBox {
    background: $blue;
    position: absolute;
    bottom: 8px;
    height: 45px;
    // width: 100%;
    left: 15px;
    right: 15px;
    text-align: center;
    color: #fff;
    line-height: 45px;
    @media screen and (max-height: 500px) {
        display: none;
        &.mustShow {
            display: block;
        }
    }
}
.slsH .innerSlide {
    height: 100%;
    position: relative;
    @include bgLoading();
    img {
        width: 94%;
        position: absolute;
        top: 30px;
        bottom: 0;
        margin: auto 0;
        left: 3%;
        right: 3%;
        z-index: 10;
        max-height: 80%;
    }
}
.favMenu {
    margin: 10px -15px 0;
    padding: 0;
    list-style-type: none;

    .options {
        margin: 15px 0 15px;
        overflow: hidden;
        padding: 0 10px;

        h2 {
            float: left;
            margin: 0;
        }

        .edit {
            float: right;
            padding: 0 14px;
            background: $blue;
            // border: 1px solid $dblue;
            color: #fff;
            height: 40px;
            margin: 0 0 0 10px;
            line-height: 40px;
            &.active {
                background: $dblue;
            }   
        }
    }
    
    .noFavs {
        padding: 0 20px;
    }

    &.editmode {
        .rbtns {
            z-index: 90;
            position: absolute;
            right: 0px;
            top: 0px;
            height: 100%;
        }
        .btn {
            width: 55px;
            height: 100%;
            position: relative;
            float: right;
            display: block;
            background: #fff;
            border-left: 1px solid $blue;

            &.active {
                background: $blue;
                &:before {
                    color: #fff;
                }
            }

            &:before {
                content: "#";
                @include iconfont();
                display: block;
                text-align: center;
                position: absolute;
                height: 50px;
                width: 100%;
                top: 50%;
                margin-top: -25px;
                color: $blue;
                line-height: 50px;
                font-size: 26px;
            }
        }
        .delete{
            &:before {
                content: "\e803";
            }
        }
        .mud:before {
            content: '\e807';
        }
        .mup:before {
            content: '\e806';
        }
        .mud, .mup {
            // z-index: -5;
            background: #eee;
            &:before {
                color: #aaa;
            }

            &.ok {
                opacity: 1;
                background: #fff;
                &:before {
                    color: $blue;
                }
            }
        }
    }

    li {
        margin: 0 0 1px;
        // border-top: 1px solid $blue;
        // border-bottom: 1px solid $blue;
        position: relative;
        color: $blue;
        opacity: 1;
        height: auto;

        i {
            position: absolute;
            font-size: 30px;
            color: inherit;
            position: absolute;
            right: 15px;
            height: 40px;
            line-height: 38px;
            top: 50%;
            margin-top: -20px;

            &:before {
                @include iconfont();
                content: "\e805";
            }
        }

        span {
            display: block;
        }
        .name {
            color: #28447d;
            font-size: 20px;
            margin: 0 0 0 0;
            color: inherit;
        }
        .subtitle {
            color: #28447d;
            font-size: 12px;
            font-weight: normal;
            margin: 0 0 0 0;
            color: inherit;
        }

        .tap {
            display: block;
            padding: 11px 50px 12px 15px;
            background: rgba(255,255,255,.7);

            &.active {
                background: rgba(0,0,0,.4);
                color: #fff;
            }
        }
    }
}
.moList {
    padding: 0;
    height: 100%;
    overflow: auto;
    list-style-type: none;
    margin: 15px -15px 0;
    text-align: left;
    background: rgba(255,255,255,.5);

    li {
        margin: -1px 0 0;
        padding: 12px 15px 11px;
        color: $blue;
        border-bottom: 1px solid $blue;
        border-top: 1px solid $blue;
        position: relative;

        i {
            position: absolute;
            right: 20px;
            font-size: 24px;
            font-style: normal;
            height: 20px;
            top: 50%;
            margin-top: -10px;
            line-height: 20px;
            
            &:before {
                @include iconfont();
                content: "\e805";
            }   
        }
        &.bck {
            background: $blue;
            color: #fff;
            padding-left: 45px;
            i {
                right: auto;
                left: 20px;
                &:before {
                    content: "\e804";
                }
            }
            &.active {
                background: $dblue;
            }
        }
        &.active {
            background: $blue;
            color: #fff;
            &:before {
                color: #fff;
            }
        }
    }
}
.noRes {
    padding: 10px 7px;
    margin: 10px 0 0;
    color: $dblue;
    background: rgba(255,255,255,.5);
}
.mList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 5px -15px 0;
    text-align: left;
    background: rgba(255,255,255,.3);


    li {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.6);
        border-top: 1px solid rgba(255,255,255,.6);
        margin: -1px 0 0;
        padding: 10px 20px 8px;
        text-align: left;
        color: $blue;
        position: relative;

        &.is_false {
            display: none !important;
        }

        &:before {
            position: absolute;
            content: "\e805";
            right: 20px;
            font-size: 24px;
            font-style: normal;
            height: 20px;
            top: 50%;
            margin-top: -10px;
            line-height: 20px;
            @include iconfont();
        }

        &.active {
            background: rgba(0,0,0,.4);
            color: #fff;
            &:before {
                color: #fff;
            }
        }
    }
}

.searchform {
    .header {
        display: none;
    }
    .footer {
        display: none;
    }
    .main {
        top: 0;
        bottom: 0;
    }
    .Page h2 {
        margin-top: 0;
        display: none;
    }
    .searchBox {
        margin: 15px 0 0 0;
    }
}
.moveBody {
    // position: relative;
    // top: -80px;
    .Page h2 {
        // height: 0;
    }
}

// .backbutton {
//     display: block;
//     color: $blue;
//     margin: 5px 0 0 0;
//     text-align: left;
//     text-decoration: none;
//     padding: 10px 15px 0;
//     position: relative;
//     line-height: 14px;
//     background: rgba(255,255,255,.6);
//     width: 100%;
//     display: block;
//     padding-left: 30px;
//     font-size: 16px;
//     text-transform: uppercase;

//     &.blueB {
//         color: $blue;
//         &.active {
//             color: $dblue;
//         }
//     }

//     .bic {
//         font-style: normal;
//         font-size: 34px;
//         line-height: 14px;
//         position: absolute;
//         left: 0;
//         top: 50%;
//         color: inherit;
//         height: 30px;
//         line-height: 30px;
//         margin: -12px 0 0;

//         &:before {
//             @include iconfont();
//             content: "\e804";
//         }
//     }

//     &.active {
//         color: $blue;
//     }
// }

.loadingCircle {
    // background: $blue;
    border-radius: 50%;
    margin: 10px auto;
    padding: 10px 0;
    display: block;
    text-align: center;
    color: $blue;
    text-transform: uppercase;

    i.ani {
        margin-bottom: 10px;
        line-height: 40px;
        height: 40px;
        display: block;
        color: inherit;
        -moz-animation: spin 2s infinite linear;
        -o-animation: spin 2s infinite linear;
        -webkit-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;

        &:before {
            content: "\e800";
            @include iconfont();
            font-size: 36px;
        }
    }
}

.favStar {
    @include iconfont();
    // background: rgba(255,255,255,.5);
    padding: 2px 0 0 10px;
    font-size: 38px;
    // color: darken($yellow, 3%);
    color: $lblue;
    height: 42px;
    line-height: 44px;

    &:after {
        content: "\e801";
        position: relative;
        z-index: 5;
    }
    &:before {
        position: absolute;
        color: #fff;
        content: "\e802";
    }
}
.isFavStar .favStar {
    &:after {
        content: "\e802"
    }
}

.detailPage {
    .titleBox {
        position: relative;
    }

    h2 {
        color: $blue;
        font-size: 22px;
        padding: 6px 0 0;
        min-height: 45px;
        margin: 10px 40px 0 0;
    }
    h4 {
        color: $blue;
        font-size: 14px;
        font-weight: normal;
        margin: 0 50px 10px 0;
        display: none;
    }
    .favStar {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.searchpage {
    position: absolute;
    z-index: 100;
    background: rgba(255,255,255,.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 50px;
    display: none;
    &.searching {
        display: block;
    }
}

.weather {
    position: relative;

    h4 {
        display: block;
    }
    
    * {
        color: $blue;
    }

    .weatherT {
        font-size: 20px;
        letter-spacing: -1px;
        font-weight: 300;
        width: 33%;
        float: left;
        margin: 10px 0;
    }
    span {
        display: block;
        width: 33%;
        font-size: 30px;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
        float: left;
        margin: 15px 0 0;
        i {
            font-style: normal;
            font-size: 12px;
            line-height: 13px;
            display: block;
            margin: 4px 0 0 0;
            font-weight: bold;
        }
    }
    b {
        display: block;
        font-weight: normal;
        width: 33%;
        text-align: right;
        float: left;
        text-decoration: none;
        margin: 10px 0;
        line-height: 45px;
        font-size: 14px;
        padding-right: 15px;
        &:after {
            @include iconfont();
            content: "\e805";
            font-size: 30px;
            margin: -1px 0 0 7px;
            position: absolute;
        }
        &.active {
            color: $dblue;
        }
    }
}

.suchemap {
    #inputwrap {
        position: absolute;
        left: 15px !important;
        right: 15px !important;
        top: 20px !important;
        height: 40px;
    }
    #pac-input {
        background-color: #fff;
        position: absolute;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        display: block;
        width: 100%;
        outline: 0;
        font-size: 16px;
        font-weight: 300;
        text-overflow: ellipsis;
        border: 0;
        padding: 0 15px;
        line-height: 40px;
      }

    .gmaps {
        z-index: 1;
        height: 100%;
        width: 100%;
        position: absolute !important;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.fatBox {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background: #0E0E0E;

    .title {
        position: absolute;
        top: 0;
        background: $blue;
        width: 100%;
        padding: 18px 20px;
        height: 60px;
        line-height: 40px;
        z-index: 10;
        color: #fff;
        font-size: 16px;
        text-align: center;
        @include translate3d(0,0,0);
        @include transition(-webkit-transform, 200ms, ease-out);
    }

    .close {
        position: absolute;
        bottom: 0;
        background: $blue;
        width: 100%;
        padding: 0 20px;
        height: 50px;
        line-height: 50px;
        z-index: 10;
        @include translate3d(0,0,0);
        @include transition(-webkit-transform, 200ms, ease-out);

        &:before {
            content: "\e803";
            @include iconfont();
            color: #fff;
            font-size: 30px;
        }
    }

    .scrollbar {
        display: none;
        overflow: hidden;
        position: absolute;
        bottom: 50px;
        height: 12px;
        background: rgba(255,255,255,.6);
        width: 100%;
        z-index: 10;

        @include translate3d(0,0,0);
        @include transition(-webkit-transform, 200ms, ease-out);

        .bar {
            min-width: 50px;
            top: 2px;
            height: 8px;
            border: 1px solid #fff;
            position: absolute;
            background: $blue;
        }
    }

    &.focused {
        .close {
            @include translate3d(0,50px,0);
        }
        .title {
            @include translate3d(0,-60px,0);
        }
        .scrollbar {
            @include translate3d(0,50px,0);
        }
    }

    .protect {
        position: absolute;
        left: 0;top: 0;bottom: 0;right: 0;
        z-index: 5;
    }
    .image {
        position: absolute;
        left: 0;top: 0;bottom: 0;right: 0;
        z-index: 5;
        overflow: scroll;

        &:before{
            content: "\e800";
            @include iconfont();
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40px;
            height: 40px;
            font-size: 40px;
            text-align: center;
            line-height: 40px;
            margin: -20px 0 0 -20px;
            z-index: 5;
            -moz-animation: spin 2s infinite linear;
            -o-animation: spin 2s infinite linear;
            -webkit-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
        }
    }
    &.pano {
        .scrollbar {
            // display: block;
        }
        #cvas {
            display: block;
        }
        img {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: auto;
            right: auto;
            margin: auto 0;
            max-width: none;
            max-height: 88%;
        }
    }
    img {
        position: absolute;
        display: none;
        margin: auto;
        z-index: 20;
        left: 0;top: 0;bottom: 0;right: 0;
        max-width: 96%;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
    }
}

.menuList {
    padding: 15px 0 10px;
    overflow: hidden;
}
.ortMenus {
    position: absolute;
    width: 400%;
    @include translate3d(0,0,0);
    @include transition(-webkit-transform, 400ms, ease-out);
    bottom: 0px;
    top: -10px;
    padding: 10px 0 10px;

    ul {
        width: 25%;
        margin: 10px 0 0;
        padding: 14px 0 0;
        float: left;
        // overflow: hidden;

        span {
            opacity: 0.6;
            margin: 0 0 0 5px;
            display: none;
        }
    }
}

.tv_Hutchison {
    display: none !important;
}

.cPage {
    color: #333;
    font-size: 14px;

    h1, h2, h3, h4, h5, h6 {
        color: $blue;
    }
    p {
        margin: 10px 0;
        padding: 0;
        text-shadow: none;
        color: #333;
    }

    .backbutton {
        // padding: 15px 0 12px 40px;
        background: rgba(255,255,255,.8);
        margin: 15px 0;
        // border: 1px solid $blue;
        // .bic {
        //     margin: -16px 0 0 13px;
        //     font-size: 34px;
        // }
    }
}
.mapBack {
}

.mapB {
    position: absolute;
    display: none;
    top: 19px;
    left: 15px;
    right: 15px;
    z-index: 100;
    .backbutton {
        background: rgba(255,255,255,.8);
        margin: 10px 0;
        // padding: 14px 40px 13px;
        // .bic {
        //     margin: -16px 0 0 13px;
        //     font-size: 34px;
        // }
    }
}

.linkBox {
    float: left;
    width: 25%;
    font-size: 11px;
    color: #fff;
    padding: 10px 0 0;
    margin: 0;
    text-align: center;
    height: 87px;

    color: $blue;

    &.active {
        color: $dblue;

        .circle {
            background: $dblue;
        }
    }

    .circle {
        position: relative;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: $blue;
        margin: 0;
        display: block;
        margin: 0 auto;
        @include outerring(-2px);

        i {
            display: block;
            width: 100%;
            height: 100%;
            font-style: normal;
            text-align: center;
            font-size: 26px;
            line-height: 45px;
            position: relative;
            left: 0;
            top: 0;
            color: #fff;

            &:before {
                @include iconfont();
            }
        }
    }
    span {
        margin: 3px 0 0;
        display: block;
    }

    &.thisis_cs_button_3 {
        color: $orange;
    }
}

.noBooking {
    .linkBox.thisis_cs_button_3 {
        display: none !important
    }
}

.circle {
    &.buttonid_11 i {
        left: -2px;
        top: 1px;
        &:before {
            content: "\e80e";
        }
    }
    &.cs_button_3 {
        background: $orange;
        
        &:after {
            border-color: $orange;
        }

        i {
            font-size: 22px;
            left: 0;
            &:before {
                content: "\e811";
            }
        }
    }
    &.buttonid_5 i {
        font-size: 24px;
        left: 0;
        &:before {
            content: "\e810";
        }
    }
    &.buttonid_4 i:before {
        content: "\e80f";
    }
    &.buttonid_9 i {
        font-size: 15px;
        left: 0;
        &:before {
            content: "\e80a";
        }
    }
    &.buttonid_2 i {
        left: 1px;
        top: 0;
        font-size: 22px;

        &:before {
            content: "\e80c";
        }
    }
    &.cs_button_1 i {
        top: 1px;
        &:before {
            content: '\e809';
        }
    }
    &.cs_button_2 i {
        // top: 1px;
        left: 1px;
        font-size: 21px;
        &:before {
            content: '\e80d';
        }
    }
    &.cs_button_88 i {
        // top: 1px;
        left: -2px;
        top: 1px;
        &:before {
            content: '\e80e';
        }
    }
}

.strict {
    overflow: hidden;
    // border: 1px solid red;
}
#cvas {
    // position: relative;
    // width: 100%;
    // height: 100%;
    // display: none;
    // background: #fff;
    // z-index: 8;
}

.loadingOLV {
    display: none;
    position: absolute;
    z-index: 1000;
    background: rgba(255,255,255,.8);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .loadingCircle {
        height: 60px;
        position: absolute;
        top: 50%;
        margin: -30px 0 0;
        width: 100%;
    }
}

.androidAPP, .iosAPP {
    .bottomBTC {
        display: none;
    }
    .slideShow .loadExtraInfo, .camWeather {
        overflow: scroll;
        overflow-x: hidden;
        margin: 0 -15px;
        padding: 0 15px;
        height: 400px;
    }
}

.androidAPP {
    .favCountF {
        line-height: 26px;
    }
    .slide .normal_view {
        overflow: hidden;
    }
    .fatBox .title {
        padding: 10px 20px;
    }
    .searchBox {
        input {
            height: auto;
            padding: 11px 10px;
            line-height: 16px;
        }
    }
    .header {
        top: -10px;
    }
    .main {
        top: 40px;
    }
    .ovl, .ovr {
        display: none;
    }
    .pvImage {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .Page {
        margin-left: 0;
        margin-right: 0;
    }

    &.horizontal {
        .Page {
            margin-left: 20%;
            margin-right: 20%;
            &.detailPage {
                margin-left: 0;
                margin-right: 0;
            }
            &.suchpage {
                h2 {
                    display:none
                }
            }
            &.extrainfo {
                .titleBox {
                    display: none;
                }
            }
        }
        .titleBox {
            margin: 0 20%;
        }
        .slide .normal_view {
            padding: 0 20%;
            overflow: hidden;
        }
        .slsH {
            padding: 0;
            border: 1px solid #fff;
            border-top: 0;
            border-bottom: 0;

            .homeSlider .slide {
                padding: 0;
            }
        }
        .whiteCover.off {
            // background: $blue;
            // opacity: 0.45;
        }
        .mList {
            // margin: 5px -500px 0;
        }
    }
}
.andInput {
    .footer {
        display: none;
    }
    .main {
        bottom: 0;
    }
}

.debug {
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    color: #fff;
    background: #900;
}
.t-indent {
    text-indent: 4px;
}


// IPAD
.ipadAPP {

background-image: url('../img/w-bg-l.jpg');

.main {
    top: 70px;
}
.logo {
    max-height: 45px;
    right: 70px;
    top: 25px;
}
.header .openMenu {
    left: 80px;
    top: 28px;
    font-size: 16px;

    &:before {
        left: -32px;
        font-size: 28px;
    }
}

.tosearch {
    height: 200px;
    width: 200px;
    margin-top: 50px;

    .sic {
        font-size: 80px;
        line-height: 200px;
    }
}
.Page {
    padding-left: 145px;
    padding-right: 145px;
    padding-top: 30px;

    p {
        font-size: 26px;
    }

    h2 {
        font-size: 35px;
    }
    .ortMenus {
        margin: 0 -145px;
        li {
            padding-left: 100px;
            font-size: 18px;
            i {
                right: 110px;
                font-size: 30px;
            }

            &.bck {
                padding-left: 140px;
                i {
                    left: 100px;
                }
            }
        }
    }
    &.detailPage {
        padding-left: 0;
        padding-right: 0;

        .titleBox {
            position: relative; 
            margin-left: 145px;
            margin-right: 145px;
        }
        .slide {
            padding: 10px 160px 0;
        }
    }
    .slideContainer {
        overflow: hidden;
        border: 1px solid #fff;
        border-top: 0;
        border-bottom: 0;
    }
}
&.vertical {
    .Page {
        padding-left: 50px;
        padding-right: 50px;
        .ortMenus {
            margin: 0 -50px;
            li {
                padding-left: 50px;
                i {
                    right: 60px;
                }
            }
        }
        &.detailPage {
            padding-left: 0;
            padding-right: 0;

            .titleBox {
                position: relative; 
                margin-left: 50px;
                margin-right: 50px;
            }
            .slide {
                padding: 10px 65px 0;
            }
        }
    }
    .options {
        .moList {
            li {
                padding-left: 75px;
                i {
                    right: 100px;
                }
            }
        }
    }
    .favMenu {
        margin: 10px -55px 0;
    }
}
.tomap {
    width: 115px;
    height: 115px;
    margin-top: 15px;
    &:before {
        font-size: 50px;
        line-height: 115px;
    }
}


&.horizontal {
    .whiteCover.off {
        background: $blue;
        opacity: 0.45;
    }
    .moList {

        li {
            padding: 14px 110px 12px;
            font-size: 18px;

            i {
                right: 125px;
            }
        }
    }
    .options {
        .moList {
            margin: 15px -150px 0;
        }
    }
}

.favMenu {
    margin: 10px -145px 0;
    .options {
        padding: 0 90px;
    }
    li {
        .tap {
            padding-left: 85px;
        }
        i {
            right: 105px;
        }
    }
}

.ortMenus {
    padding-top: 0;
    ul {
        padding-top: 32px;
    }
}

.camNearMe {
    padding: 12px 22px;
    font-size: 18px;
}

.searchBox {
    input {
        padding-left: 20px;
        height: 45px;
        line-height: 45px;
        font-size: 20px;
    }
    .sic {
        line-height: 45px;
        height: 45px;
        right: 5px;
    }
}

.mList {
    margin: 5px -145px 0;

    li {
        font-size: 18px;
        padding: 12px 165px 10px;
        &:before {
            right: 170px;
        }
    }
}
&.searchform {
    .main {
        top: 0;
    }
}
.slideShow {
    .info {
        font-size: 14px;
    }
    .inicBox {
        i {
            width: 18px;
            height: 18px;
        }

    }
    .weather {
        .weatherT {
            font-size: 37px;
            margin: 0;
            line-height: 36px;
        }
        span {
            font-size: 38px;
            i {
                font-size: 16px;
                line-height: 17px;
                margin-top: 8px;
            }
        }
        b {
            margin: 13px 0;
            font-size: 18px;
        }
    }
    .weather_view {
        .camWeather {
            .box {
                margin: 0 0 1px;
            }
        }
    }
    .oneTVrow, .listRow, .oneLift, .slideContainer {
        margin: 0 0 2px;
    }
    .slidePadder {
        .slideTab {
            padding: 0 0 2px;
        }
    }
}

.moList {

    li {
        padding: 14px 55px 12px;
        font-size: 18px;

        i {
            right: 80px;
        }
    }
}
.options {
    .moList {
        margin: 15px -50px 0;
    }
}

.linkBox {
    height: 120px;
    width: 20%;

    span {
        font-size: 12px;
        margin: 6px 0 0;
    }

    .circle {
        width: 70px;
        height: 70px;

        i {
            line-height: 70px;
            font-size: 42px;
        }
        &.buttonid_2 i {
            font-size: 38px;
        }
        &.buttonid_5 i {
            font-size: 38px;
        }
        &.buttonid_9 i {
            font-size: 22px;
        }
        &.cs_button_3 i {
            font-size: 35px;
        }
        &.cs_button_2 i {
            font-size: 29px;
        }
    }
}

.slsH {
    border: 1px solid #fff;
    border-top: 0;
    margin: 0;
    padding: 0;
    border-bottom: 0;
    .homeSlider {
        // margin: 0 0 2px;
        .slide {
            padding: 0;
            margin: 0;
        }
    }
}
.homepage .intHome {
    margin: 2px 0 0;
}

.cPage {
    p {
        font-size: 14px;
    }
    h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
}
}

.miniAlert {
    position: absolute;
    z-index: 60;
    bottom: 100px;
    width: 75%;
    padding: 10px;
    background: #13bbfa;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    text-shadow: 0 0 5px rgba(0,0,0,.2);
    left: 50%;
    display: none;
    text-align: center;
}

.favCountF {
    position: absolute;
    right: 12px;
    top: 8px;
    display: none;
    z-index: 164;
    height: 24px;
    width: 24px;
    line-height: 25px;
    background: #13bbfa;
    font-size: 14px;
    border-radius: 50%;
}

.custom-alert-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
    // background:red;
    z-index: 100;
    display: none;
    border: 1px solid #000;
}
.custom-alert {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 25px;
    right: 25px;
    height: 220px;
    margin: -130px 0 0;
    background: #eee;
    border-radius: 10px;
    box-shadow: 0 0 0 1000px rgba(0,0,0,.7);
    overflow: hidden;

    .title {
        font-weight: bold;
        text-align: center;
        margin: 15px 0 0;
        padding: 0 0 8px;
        font-size: 18px;
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
    .text {
        padding: 15px 20px 5px;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
    }
    .buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #666;
        border-radius: 0 0 10px 10px;
        div {
            width: 33%;
            float: left;
            text-align: center;
            height: 45px;
            line-height: 47px;
            font-size: 14px;
            color: #fff;

            &.yes-button {
                background: #009900;
                border-radius: 0 0 0 10px;
                width: 34%;
                &.active {
                    background: darken(#009900, 5%);
                }
            }
            &.no-button {
                background: #990000;
                &.active {
                    background: darken(#990000, 5%);
                }
            }
            &.later-button {
                background: #666;
                border-radius: 0 0 10px 0;
                &.active {
                    background: darken(#666, 5%);
                }
            }
            &.full-button-width {
                width: 100%;
                border-radius: 0 0 10px 10px;
            }
        }
    }
}

.trackPixel, .staticTrackPixel {
    position: absolute;
    z-index: -1;
}
div.prel {
    display: none !important
}



$line-height: 40px;
$input-padding: 5px;


.buchen_form_box {
  input, select, textarea, button, option {
    border: 0;
    padding: 0;
    background: #fff;
    outline: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    max-width: 100%;
    height: $line-height;
    padding: $input-padding;
    position: relative;
    z-index: 5;
    -webkit-appearance: none;
    &.bgf {
      background: #fff;
    }
  }
  input {
    // background: transparent;
    // opacity: 0;
    &.bgf {
      // opacity: 1;
      // background: #fff;
    }
  }
  select {
    padding: ($line-height / 4) 5px;
    option {
    }
  }

  input, select, textarea, button, .bmlabel, .widthTest {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
  }

  .button-style {
    margin: 10px 0 0;
  }

  button, input[type="button"] {
    &:hover {
      cursor: pointer;
    }
  }

  .hide {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: -40px;
    .widthTest {
      background: #fff;
      padding: 0 $input-padding;
      padding-right: 0;
    }
  }

  .row {
    margin: 0 0 5px;
    overflow: hidden;
  }
  .split {
    width: 100%;
    position: relative;
  }
  .split-2 {
    width: 50%;
    float: left;
    padding: 0 $input-padding/2;
    &.part-1 {
      padding-left: 0;
    }
    &.part-2 {
      padding-right: 0;
    }
  }
  .split-3 {
    width: 33.33%;
    float: left;
    padding: 0 $input-padding/2;
    &.part-1 {
      padding-left: 0;
    }
    &.part-3 {
      padding-right: 0;
    }
  }
  .split-4 {
    width: 25%;
    float: left;
    padding: 0 $input-padding/2;
    &.part-1 {
      padding-left: 0;
    }
    &.part-4 {
      padding-right: 0;
    }
  }
  .split-5 {
    width: 20%;
    float: left;
    padding: 0 $input-padding/2;
    &.part-1 {
      padding-left: 0;
    }
    &.part-5 {
      padding-right: 0;
    }
  }
  .bmlabel {
    // position: absolute;
    display: block;
    // height: $line-height;
    // line-height: $line-height;
    padding: 5px 0 3px;
    // z-index: 2;
  }

  .style-box {
    background: #fff;
    height: 100%;
    display: block;
    position: relative;
  }

}

.backbuttonSubstitution {
position: relative;
z-index: 500;
top: 9px;
}