<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="cordova.js"></script>
    <script type="text/javascript">var quickfix = {};var vv = 0.2;</script>
    <script src="" id="quickfix"></script>
<!--     <script type="text/javascript">
        var rid = new Date().getTime();

        var s=document.getElementsByTagName('script')[0];
        var sc=document.createElement('script');
        sc.type='text/javascript';
        sc.async=true;
        sc.src='http://appicc.com/feratel/app/quickfix2.js?' + Math.random(); 
        s.parentNode.insertBefore(sc,s);
    </script> -->
    <script src="scripts/quickfix2_beta.js"></script>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" id="cssfix" href="http://appicc.com/feratel/app/quickfix2.css">
</head>
<body ng-app="FeratelApp">

    <div class="debug"></div>
    
    <div class="miniAlert"><span></span></div>

    <div class="custom-alert-container">
        <div class="custom-alert" ng-controller="customAlert">
            <div class="rateingBox">
                <div class="title">{{t.rate_title}}</div>
                <div class="text">{{t.rate_text}}</div>
                <div class="buttons">
                    <div class="yes-button" ng-tap="ok()">{{t.rate_yes}}</div>
                    <div class="no-button" ng-tap="no()">{{t.rate_no}}</div>
                    <div class="later-button" ng-tap="later()">{{t.rate_later}}</div>
                </div>
            </div>
            <div class="connectionTimeout">
                <div class="title">{{t.connection_title}}</div>
                <div class="text" ng-bind-html-unsafe="t.connection_text">{{t.connection_text}}</div>
                <div class="buttons">
                    <div class="later-button full-button-width" ng-tap="retryconnection()">{{t.connection_retry}}</div>
                </div>
            </div>
            <div class="enableLocation">
                <div class="title">{{t.location_title}}</div>
                <div class="text" ng-bind-html-unsafe="t.location_text">{{t.location_text}}</div>
                <div class="buttons">
                    <div class="yes-button full-button-width" ng-tap="customAlert(0)">OK</div>
                </div>
            </div>
            <div class="dynamicNotification">
                <div class="title">{{t.ca_title}}</div>
                <div class="text" ng-bind-html-unsafe="t.location_text">{{t.ca_text}}</div>
                <div class="buttons">
                    <div class="yes-button full-button-width" ng-tap="customAlert(0)">OK</div>
                </div>
            </div>
        </div>
    </div>
    <div class="whiteCover off"></div>
    <fatBox></fatBox>
    <div class="loadingOLV"><loader></loader></div>

    <!-- HEADER START -->
    <div class="container header" ng-controller="Header">
        <div class="menuLinkBox" ng-tap="menu.html"></div>
        <a href="" class="openMenu">{{t.menuButton}}</a>

        <svg width="100%" height="70" class="corner">
            <polygon ng-reponsivesvg="points" points="0,0 0,60 260,70 320,60 320,0 0,0" style="fill:white;fill-rule:evenodd;" />
        </svg>

        <img src="img/logo.png" class="logo" alt="Feratel.com" />
    </div>
    <!-- CONTENT START -->
    <div class="container main">
        <mobile-view></mobile-view>
    </div>
    <!-- FOOTER START -->
    <div class="container footer" ng-controller="Footer">
        <ul>
            <li ng-repeat="option in bottomMenu" class="mainO {{option.id}}" ng-tap="{{option.goTo}}">{{option.name}}</li>
        </ul>
    </div>

    <div class="trackPixel"></div>
    <div class="staticTrackPixel"></div>

    <!-- SCRIPTS -->
    
    <script src="bower_components/jQuery/jquery.js"></script>
    <script src="scripts/plugins/swipe.js"></script>
    <script src="scripts/plugins/jquery.scrollTo.min.js"></script>
    <script src="scripts/plugins/hammer.min.js"></script>
    <script src="scripts/plugins/hammer.fakemultitouch.js"></script>

    <script src="bower_components/angular/angular.js"></script>

    <script src="scripts/plugins/ui-router.js"></script>
    <script src="scripts/plugins/mobile-nav.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>

    <script src="scripts/plugins/maps.cluster.js"></script>
    <script src="scripts/lang/lang.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>

    <!-- <script src="http://appicc.com/piwik/piwik/piwik.js" type="text/javascript"></script> -->
    <script src="http://webstat02.feratel.at/piwik.js" type="text/javascript"></script>
    <script src="http://www.feratel.com/typo3conf/ext/icc_feratelwebcam/Resources/Public/JS/mapData.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoEn2Px_HRhjEqe95DAKg7GGXAGaeFQxM&sensor=true"></script>

</body>
</html>