<div class="Page suchemap" ng-pagem="map" ng-bg="false"><div googlemaps="" class="gmaps"></div><div class="backbuttonSubstitution"><a href="#" class="backbutton ng-binding" ng-tap="detail.html"><i class="bic"></i>{{t.back}}</a></div></div>