<div class="Page detailPage" id="detailPage" ng-pagem="cam_detail" ng-bg="true">
    <div class="pageC">
        <div class="titleBox">
            <h2>{{title}}</h2>
            <h4>{{subtitle}}</h4>
            <favorite class="{{isFav}}"></favorite>
        </div>
        <h5 ng-show="error">{{error}}</h5>
        <div class="slideShow" ng-camslideshow="">
            <div class="sls">
                <div class="slide sl_{{$index}}" ng-repeat="cam in cams">
                    <div class="normal_view nv_{{cam.slideIndex}}">
                        <div class="backB strict" ng-show="fromMenu">
                            <span class="backtoCam" ng-tap="goBackToMenu();">{{t.back}}<i></i>
                            </span>
                        </div>
                        <div class="player">
                            <div class="playVideo {{cam.playClasses}}">
                                <img ng-src="{{cam.pvImage}}" alt=""> <i class="ani"></i>
                                <div class="playButton" ng-show="cam.videoHD" ng-tap="playVideo('{{cam.videoHD}}')"></div>
                            </div>
                        </div>
                        <div class="info">{{cam.data.l}} - {{cam.data.h}} m
                            <div class="count">{{$index +1}} / {{cams.length}}</div>
                        </div>
                        <div class="inicBox init strict"><i ng-repeat="cam in cams" class="i{{$index}}"></i>
                        </div>
                        <div class="weather" ng-show="cam.weatherBox.now">
                            <hr>
                            <h4 class="weatherT">{{t.weatherT}}</h4>
                            <span>
                                <div class="t-indent">{{cam.weatherBox.now}}</div><i>{{cam.weatherBox.state}}</i>
                            </span> <b ng-show="cam.weatherDetail.days" ng-tap="show_view('wv_'+{{cam.slideIndex}}, 'nv_'+{{cam.slideIndex}}, '{{cam.data.l}}');">{{t.weatherProg}}</b>
                            <div class="clearfix"></div>
                            <hr>
                        </div>
                        <div class="extraInfo {{cam.loading}}">
                            <div ng-repeat="datablock in cam.info" class="linkBox thisis_{{datablock.data.cn}}" ng-tap="loadExtraInfo('{{datablock.data.t}}');">
                                <div class="circle {{datablock.data.cn}}"><i></i>
                                </div>
                                <span>{{datablock.data.c}}</span>
                                <br>
                            </div><i class="ani"></i>
                        </div>
                    </div>
                    <div class="sndView weather_view wv_{{cam.slideIndex}}">
                        <div class="weatherForcast">
                            <span href="#" class="backtoCam" ng-tap="show_view('nv_'+{{cam.slideIndex}}, 'wv_'+{{cam.slideIndex}});">{{t.back}}<i></i>
                            </span>
                            <div class="camWeather">
                                <div class="box" ng-repeat="day in cam.weatherDetail.days">
                                    <span class="dayT" ng-show="$index == 0">{{t.today}}</span>
                                    <span class="dayT" ng-hide="$index == 0">{{day.wid[0].v}}</span>
                                    <span class="dayW">{{day.wid[5].v}}</span>
                                    <span class="dayC">{{day.wid[1].v + day.wid[3].v}} / {{day.wid[2].v + day.wid[3].v}}</span>
                                    <div ng-show="cam.weatherExtra">
                                        <div class="todaydetail" ng-show="$index == 0">
                                            <span class="detailT">{{t.details}}</span>
                                            <div class="line" ng-repeat="dset in cam.weatherExtra.wi">
                                                <span class="whatis">{{dset.wid[0].v}}:</span>
                                                <span class="isis">{{dset.wid[1].v + dset.wid[2].v}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="copr">{{t.weatherc}}</div>
                            </div>
                            <div class="weatherData" ng-show="cam.weatherDetail">
                                <div class="box" ng-repeat="dset in cam.weatherDetail.wi">
                                    <span class="whatis">{{dset.wid[0].v}}:</span>
                                    <span class="isis">{{dset.wid[1].v}}</span>
                                </div>
                            </div>
                            <span class="backtoCam bottomBTC" ng-tap="show_view('nv_'+$index, 'wv_'+$index);">{{t.back}}<i></i>
                            </span>
                        </div>
                    </div>
                    <div class="sndView extra_view ev_{{$index}}">
                        <span class="backtoCam" ng-tap="show_view('nv_'+$index, 'ev_'+$index);">{{t.back}}<i></i>
                        </span>
                        <div class="loadExtraInfo">
                            <loader ng-show="cam.loading"></loader>
                            <div class="historie vv" ng-show="cam.buttonid_2">
                                <h3>{{t.buttonid_2}}</h3>
                                <div class="halfBlock" ng-repeat="block in cam.buttonid_2" ng-tap="fatBoxIt('{{block.dnd}}', '{{block.s}}')">
                                    <span class="timeTitle">{{block.d}} {{t.uhr}}</span>
                                    <img ng-src="{{block.s}}" class="smallImage">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="lifte_pisten vv" ng-show="cam.buttonid_4">
                                <div class="titles">
                                    <span id="piste" ng-tap="gotoSlide(0)" class="active t_0"><i>{{t.pisten}}</i>
                                    </span>
                                    <span id="lifte" ng-tap="gotoSlide(1)" class="t_1"><i>{{t.lifte}}</i>
                                    </span>
                                    <span id="infra" ng-tap="gotoSlide(2)" class="t_2"><i>{{t.infra}}</i>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="slideContainer">
                                    <div class="slidePadder">
                                        <div class="slideTab pisten sl_0">
                                            <div class="oneLift" ng-repeat="piste in cam.buttonid_4.pisten">
                                                <div class="row trow"><b style="width: 90%; display: inline-block">{{piste.c}}</b> 
                                                    <img ng-src="{{piste.sts}}">
                                                </div>
                                                <div class="row">{{piste.typc}}
                                                    <img ng-src="{{piste.tys}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slideTab lifte sl_1">
                                            <div class="oneLift" ng-repeat="lift in cam.buttonid_4[0].pccdi.sk">
                                                <div class="row trow"><b>{{lift.c}}</b> 
                                                    <img ng-src="{{lift.sts}}">
                                                </div>
                                                <div class="row">{{lift.typc}}
                                                    <img ng-src="{{lift.tys}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slideTab infra sl_2">
                                            <div class="oneLift" ng-repeat="row in cam.buttonid_4.infra">
                                                <div class="row trow"><b>{{row.c}}</b> 
                                                    <img ng-src="{{row.sts}}">
                                                </div>
                                                <div class="row">{{row.typc}}
                                                    <img ng-src="{{row.tys}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="weitere_infos vv" ng-show="cam.buttonid_5">
                                <h3>{{t.kamerinfo}}</h3>
                                <div class="listRow" ng-show="cam.data.h"><b>{{t.height}}</b>: {{cam.data.h}} m</div>
                                <div class="listRow" ng-show="cam.basicInfo.ort"><b>{{t.ort}}</b>: {{cam.basicInfo.ort}}</div>
                                <div class="listRow" ng-show="cam.basicInfo.standort"><b>{{t.standort}}</b>: {{cam.basicInfo.standort}}</div>
                                <div class="listRow" ng-show="cam.basicInfo.kanton"><b>{{cam.stupidtext}}</b>: {{cam.basicInfo.kanton}}</div>
                                <h3 ng-show="cam.buttonid_5.lsi.length > 0">{{cam.buttonid_5.data.c}}</h3>
                                <h4 ng-show="cam.buttonid_5.lsi.length > 0">{{cam.buttonid_5.lsin.c}}</h4>
                                <div class="oneTVrow tv_{{tvs.ll}}" ng-tap="openLink('{{tvs.v}}')" ng-repeat="tvs in cam.buttonid_5.lsi" ng-show="tvs.ll">{{tvs.ll}}
                                    <span>{{tvs.c}}</span>
                                </div>
                            </div>
                            <div class="buchen_form vv" ng-show="cam.cs_button_3">
                                <div class="buchen_form_box">
                                    <div class="row">
                                        <input type="date" id="anreise" value="" label="{{t.buchen.Anreise}}">
                                        <input type="number" id="nights" label="{{t.buchen.Nights}}" value="3">
                                    </div>
                                    <div class="row">
                                        <input name="adults" id="adults" label="{{t.buchen.Adults}}" value="1" type="number" />
                                        <select name="children" id="children" label="{{t.buchen.Children}}">
                                            <option value="0" selected="selected">0
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                        </select>
                                    </div>
                                    <div class="row childage" style="display: none">
                                        <input type="number" id="age1" label="{{t.buchen.ChildAge}} 1" value="0">
                                        <input type="number" id="age2" label="{{t.buchen.ChildAge}} 2" value="0">
                                        <input type="number" id="age3" label="{{t.buchen.ChildAge}} 3" value="0">
                                        <input type="number" id="age4" label="{{t.buchen.ChildAge}} 4" value="0">
                                        <input type="number" id="age5" label="{{t.buchen.ChildAge}} 5" value="0">
                                        <input type="number" id="age6" label="{{t.buchen.ChildAge}} 6" value="0">
                                        <input type="number" id="age7" label="{{t.buchen.ChildAge}} 7" value="0">
                                        <input type="number" id="age8" label="{{t.buchen.ChildAge}} 8" value="0">
                                        <input type="number" id="age9" label="{{t.buchen.ChildAge}} 9" value="0">
                                    </div>
                                    <div class="row">
                                        <button name="button" class="bookNow">{{t.buchen.search}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="backtoCam bottomBTC" ng-tap="show_view('nv_'+$index, 'ev_'+$index);">{{t.back}}<i></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
