<div class="Page" ng-pagem="my_cams" ng-bg="false">
	<ul class="favMenu {{editmode}}">
		<div class="options" ng-show="favs">
			<div class="edit" ng-tap="editMode()">{{edittext}}</div>
			<div class="edit" ng-tap="canceEdit()" ng-show="editIds[0]">{{t.cancelText}}</div>
		</div>
		<div class="noFavs" ng-hide="favs">
			<h2>{{t.noFavT}}</h2>
		</div>
		<li ng-repeat="fav in favs" class="fav_{{fav.id}}">
			<div class="tap" ng-tap="setCamDetail({{$index}});">
				<span class="name">{{fav.name}}</span>
			</div>
			<div class="rbtns">
				<div class="btn delete" ng-tap="delelteFav('{{fav.id}}');"></div> 
				<div class="btn mud {{fav.okdown}}" ng-tap="moveDown(this);"></div>
				<div class="btn mup {{fav.okup}}" ng-tap="moveUp(this);"></div>
			</div>

			<i></i>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>