<div class="Page cit homepage" ng-pagem="home" ng-bg="false">
	<div class="favBoxx" ng-controller="FavCtrl">
		<div class="home" ng-hide="favs">
			<a href="" class="tosearch" ng-tap="suche.html"> <i class="sic"></i>
			</a>
			<p ng-bind-html-unsafe="homeContent">{{homeContent}}</p>
			<a href="" class="tomap" ng-tap="suchemap.html"></a>
		</div>
		<div class="homeFavs" ng-show="favs">
			<div class="slsH">
				<div class="homeSlider">
					<div ng-repeat="fav in favs" class="slide">
						<div class="innerSlide" ng-tap="setCamDetail({{$index}});"> <i class="ani"></i>
							<h3 class="name">{{fav.name}}</h3>
							<div class="image" loadpreviewimage="{{fav.detail.100}}">
								<img ng-src="{{fav.pvimage}}" alt="" ng-hide="fav.loadError"></div>
								<div class="errorMessage" ng-show="fav.loadError" ng-bind-html-unsafe="t.imageLoadError">
									{{t.imageLoadError}}
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="inicBox init intHome" ng-show="favs.length > 1">
				<i ng-repeat="fav in favs | limitTo: 14" class="i{{$index}}"></i>
			</div>
			
		</div>

		<div class="homeShareBox" ng-tap="shareapp()">
			{{t.recomend}}
		</div>
	</div>
	<div class="clearfix"></div>
</div>