<div class="Page options" ng-pagem="options" ng-bg="true"><ul class="moList"><li ng-tap="updateButton()">{{t.update}}</li><li ng-tap="goToC('impressum')">{{t.impre}}<i></i></li><li ng-tap="goToC('sprache')">{{t.langT}}<i></i></li></ul></div>